{% extends 'base.html.twig' %}

{% block title %}Expense index{% endblock %}

{% block body %}
    <h1 class="text-center mt-5 mb-5">Expense index</h1>

    <table class="table text-centertable text-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for expense in expenses %}
            <tr>
                <td>{{ expense.id }}</td>
                <td>{{ expense.name }}</td>
                <td>{{ expense.price }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('expense_show', {'id': expense.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('expense_edit', {'id': expense.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary text-center" href="{{ path('expense_new') }}">Create new</a>
    <a class="btn btn-primary text-center" href="{{ path('tricount_index') }}">Tricount Tab</a>
{% endblock %}
