{% extends 'base.html.twig' %}

{% block title %}Tricount index{% endblock %}

{% block body %}
<body>
    <h1 class="text-center mt-5 mb-5">Tricount index</h1>

    <table class="table text-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tricount in tricounts %}
            <tr>
                <td>{{ tricount.id }}</td>
                <td>{{ tricount.title }}</td>
                <td>{{ tricount.description }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('tricount_show', {'id': tricount.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('tricount_edit', {'id': tricount.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary mt-5 mb-5" href="{{ path('tricount_new') }}">Create new</a>
    <a class="btn btn-primary text-center" href="{{ path('expense_index') }}">Expense Tab</a>
    </body>
{% endblock %}
