{% extends 'base.html.twig' %}

{% block title %}Tricount index{% endblock %}

{% block body %}
<style>
html, body {
  width: 100%;
  height:100%;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
</style>


<body>
    <h1 class="text-center mt-5 mb-5">YOUR TRICOUNTS</h1>
<div class="pl-5 pr-5" style="background-color:white; width:60%; margin-left:300px ">
    <table class="table text-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tricount in tricounts %}
            <tr>
                <td>{{ tricount.id }}</td>
                <td>{{ tricount.title }}</td>
                <td>{{ tricount.description }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('tricount_show', {'id': tricount.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('tricount_edit', {'id': tricount.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary mt-5 mb-5" href="{{ path('tricount_new') }}">Create new</a>
    <a class="btn btn-primary text-center" href="{{ path('expense_index') }}">Expense Tab</a>
    </div>
    </body>
{% endblock %}
