{{ form_start(form) }}
    {{ form_widget(form) }}
<<<<<<< HEAD
    <button class="btn">{{ button_label|default('Save') }}</button>
=======
    <button class="btn btn-primary mt-3 href="tricount">{{ button_label|default('Save')}} </button>
    <a class="btn btn-primary mt-3" href="{{ path('user_index') }}">back to list</a>
>>>>>>> main2
{{ form_end(form) }}
